In [2]:
import numpy as np
import pandas as pd

from source.HelperFunctions import find_root_directory

In [4]:
path = find_root_directory() / "datasets" / "proceedings.com" / "all-mar-24.xlsx"
path.is_file()

True

In [6]:
df = pd.read_excel(path, engine='openpyxl')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61785 entries, 0 to 61784
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Publisher         61785 non-null  object
 1   Conference Title  61785 non-null  object
 2   Book Title        61785 non-null  object
 3   Series            20442 non-null  object
 4   Description       61785 non-null  object
 5   Mtg Year          61185 non-null  float64
 6   Editor            18921 non-null  object
 7   ISBN              61784 non-null  float64
 8   Pages             61785 non-null  object
 9   Format            61785 non-null  object
 10  POD Publisher     61785 non-null  object
 11  Publ Year         61785 non-null  int64
 12  Subject1          61785 non-null  object
 13  Subject2          24553 non-null  object
 14  Subject3          5213 non-null   object
 15  Subject4          826 non-null    object
 16  List Price        61785 non-null  float64
dtypes: float64(3), int64(1), object(13)
memory usage: 8.0+ MB

In [10]:
df.loc[df['ISBN'].duplicated()].shape

(0, 17)

This is a nice result. Since we can use the ISBN number as unique identifier here!